.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    gap: 20px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}
