.pad-10 {
    $pad: 10px;

    padding: $pad $pad $pad $pad !important;
}

.pad-20 {
    $pad: 20px;

    padding: $pad $pad $pad $pad !important;
}

.pad-30 {
    $pad: 30px;

    padding: $pad $pad $pad $pad !important;
}
