@import '../base.scss';

.post-creator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    min-width: 10px;

    margin-bottom: 20px;
}

#post-option {
    $side-margin: 5px;

    margin-left: $side-margin;
    margin-right: $side-margin;
    margin-bottom: $side-margin;

    font-size: 25px;

    &[data-option-type='secondary'] {
        border-radius: 100%;
        width: 50px;
    }
}

.post-options,
.post-editor {
    $padding: 20px;

    margin-top: 10px;

    background-color: $primary;
    border-radius: $border-radius;

    padding: $padding $padding $padding $padding;

    max-width: 800px;
    width: 80vw;
}

.post-editor {
    text-align: left;
}

#title-tb {
    $padding: 20px;

    padding: $padding $padding $padding $padding;

    border: none;
}

.textbox {
    background-color: $sub !important;

    color: $txt;
    font-family: 'Cabin', sans-serif;

    text-align: left;

    &.title {
        font-size: 30px;
        margin-bottom: 10px;
        border-radius: 10px;
        width: 97.5%;
    }
}

#text-style-options {
    background-color: $primary;

    border-style: solid;
    border-color: #191919;
    border-bottom: 0;

    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.text-style {
    font-size: 20px;
    background-color: transparent;

    $side-margin: 5px;

    width: 50px;

    margin-left: $side-margin;
    margin-right: $side-margin;
    margin-bottom: $side-margin;
}

.tiptap,
.ProseMirror {
    background-color: $sub;

    color: $txt;
    font-family: 'Cabin', sans-serif;

    font-size: 15px;

    $tb-pad: 10px;

    min-height: 200px;
    max-height: 500px;

    padding: $tb-pad $tb-pad $tb-pad $tb-pad;

    resize: vertical;
    border: none;

    overflow-y: scroll;

    p {
        text-align: start !important;
    }
}

#typed {
    text-align: start;
}
