@import '../base.scss';

.header {
    $pad: 20px;

    display: flex;
    align-items: center;

    background-color: $sub;

    padding: $pad $pad calc($pad - 10px) $pad;

    margin-bottom: 20px;
}

.header-end {
    display: flex;
    align-items: center;

    gap: 20px;

    margin-left: auto;
}

.site-logo#mobile {
    display: none;
}

@media screen and (max-width: 740px) {
    .site-logo#mobile {
        display: block;
    }

    .site-logo#desktop {
        display: none;
    }
}
