@import '../base.scss';

.dropdown#ud {
    width: clamp(50px, 200px, 500px);
    text-align: center;
}

.dropdown-btn#ud {
    border-radius: 0px;
}

.dropdown-btn#ud {
    font-size: 20px;
    max-width: 200px;

    @include textEllipsis();
}

.ud-option-btn,
.ud-option {
    width: 100%;
}
